<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>J and D's Erotic Libation Hour</title>
      <link href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" rel="stylesheet" />
      <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    </head>
    <body class="bg-dark-gray sans-serif washed-yellow tracked">
      <div class="min-vh-100 flex items-center">
        <div class="center mw7 pa3">
          <header class="mb5">
            <div class="flex items-center justify-center">
              <div class="tc ttu tracked b">
                <span class="f-headline lh-solid lh-title">J</span>
                <span class="f3 lh-title lh-solid i nl1">and</span>
                <span class="f-headline lh-solid lh-title">D</span>
                <span class="f3 lh-title lh-solid nl2 i">'s</span>
              </div>
            </div>
            <div class="flex items-center justify-center mb3">
              <div class="ttu dib pv3 tc f3 lh-title tracked bb bt">
                <span>Erotic libation hour</span>
              </div>
            </div>
            <div class="flex items-center justify-center">
              <div class="ttu dib tc f6 lh-title tracked">
                <span>Saturday March 24, 2018 @ 8:30pm</span>
              </div>
            </div>
          </header>
          <section class="mb5 lh-copy">
            <h1 class="ma0 mb3 ttu">Drinks</h1>
            <ul class="list ml0 pa0">
              <li class="mb4">
                <header class="bb pb2 mb2 dib f5">
                  <span class="b">Julio Cesar Chavez</span>
                </header>
                <p class="ma0 pb0">
                  Vida Mezcal, Apertivo, Habanero Bitters, Grapefruit Juice, Lime Juice
                </p>
              </li>
              <li class="mb4">
                <header class="bb pb2 mb2 dib f5">
                  <span class="b">Old Dirty Bastard</span>
                </header>
                <p class="ma0 pb0">
                  Prince of the Apostles Gin, Dry Vermouth, Olive Juice, Castelvetrano
                </p>
              </li>
              <li class="mb4">
                <header class="bb pb2 mb2 dib f5">
                  <span class="b">Don Draper</span>
                </header>
                <p class="ma0 pb0">
                  Belle Meade Bourbon, Sugar Cube, Angostura Bitters
                </p>
              </li>
              <li class="mb4">
                <header class="bb pb2 mb2 dib f5">
                  <span class="b">Vladimir Putin</span>
                </header>
                <p class="ma0 pb0">
                  Reyka Vodka, Lime Juice, Simple Syrup, Fever Tree Ginger Beer
                </p>
              </li>
              <li>
                <header class="bb pb2 mb2 dib f5">
                  <span class="b">Count Camillo Negroni</span>
                </header>
                <p class="ma0 pb0">
                  Prince of the Apostles Gin, Campari, Sweet Red Vermouth
                </p>
              </li>
            </ul>
          </section>
          <section class="mb5">
            <h1 class="ma0 mb3 ttu">Poods</h1>
            <ul class="list ml0 pa0">
              <li class="mb2">
                <p class="ma0 pb0">
                  Everson Royce Bao Buns
                </p>
              </li>
              <li class="mb2">
                <p class="ma0 pb0">
                  Charcuterie Plate
                </p>
              </li>
              <li>
                <p class="ma0 pb0">
                  Homemade Guacamole Con Chips
                </p>
              </li>
            </ul>
          </section>
          <section class="mb5">
            <h1 class="ma0 mb3 ttu">Clandestino</h1>
            <ul class="list ml0 pa0">
              <li class="mb2">
                <p class="ma0 pb0">
                  Pre-rolls from Med Men
                </p>
              </li>
              <li>
                <p class="ma0 pb0">
                  <i class="em em-upside_down_face"></i>
                  <i class="em em-pill"></i>
                  <i class="em em-pill"></i>
                  <i class="em em-pill"></i>
                  <i class="em em-pill"></i>
                  <i class="em em-pill"></i>
                  <i class="em em-upside_down_face"></i>
                </p>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </body>
</html>

