<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>J and D's Erotic Libation Hour</title>
      <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    </head>
    <body class="bg-light-yellow sans-serif">
      <div class="min-vh-100 flex items-center">
        <div class="center mw7 pa3">
          <header class="">
            <div class="bb mb3 pb3">
              <div class="ttu">
                <span class="f-headline">J</span>
                <span class="f3 nl">and</span>
                <span class="f-headline">D</span>
                <span class="f3 nl2">'s</span>
              </div>
              <div class="ttu tc">Erotic libation hour</div>
            </div>
          </header>
        </div>
      </div>
    </body>
</html>

